<%- include("./partials/header")%>

<div class="container">
    <p class="lead">Created By: Danilo M </p>
    <h4>Tech Stack</h4>

    <div class="row text-center align-items-center">
        <div class=" col-sm-6 col-md-3 p-3 ">
            <p>MongoDB - NoSQL</p>
            <a href="https://mongodb.com" target="_blank">
                <i class="fas fa-database fa-4x text-success"></i>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 p-3">
            <p>Passport and Sanitizer</p>
            <a href="https://passportjs.org" target="_blank">
                <i class="fas fa-lock fa-4x text-danger"></i>
            </a>
        </div>
        <div class=" col-sm-6 col-md-3 p-3">
            <p>Node and Express</p>
            <a href="https://nodejs.org" target="_blank">
                <i class="fas fa-server fa-4x text-primary"></i>
            </a>
        </div>
        <div class=" col-sm-6 col-md-3 p-3">
            <p>EJ6+ and CSS3</p>
            <a href="https://https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
                <i class="fas fa-file-code fa-4x text-dark"></i>
            </a>
        </div>
    </div>
    <div class="row my-4 pt-2 ">
        <div class="col-md-6 col-lg-6">
            <p>Yelpcamp focus on web development using the latest syntax using JS and Node. Other functionalities
                include forward geo map location using Mapbox api, and image upload to Cloudinary.</p>
            <p>One of the most difficult challenges while building this website was to implement old documentation to
                new JS syntax.</p>
        </div>
        <div class="col-md-6 col-lg-6">
            <a href="https://mapbox.com">
                <img class="img-fluid" src="https://miro.medium.com/max/1400/0*ok6yuDnTx4o2PSFx.png" alt="image"
                    style="height: 200px;">
            </a>

        </div>

        <div class="col-md-6">
            <p>CRUD and MVC is implemented on this website. Nested routes (API) are
                used for a more realistic approach when creating a campground and a comment.</p>
        </div>
        <div class="col-md-6">
            <p>For more information contact me or visit my website.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>MongoDB</h4>
            <p>MongoDB is a document database with the scalability and flexibility that you want with the querying and
                indexing that you need. MongoDB stores data in flexible, JSON-like documents, meaning fields can vary
                from document to document and data structure can be changed over time.</p>
        </div>
        <div class="col-md-6">
            <h4>Passport Js</h4>
            <p>Passport is authentication middleware for Node.js. Extremely flexible and modular, Passport can be
                unobtrusively dropped in to any Express-based web application. A comprehensive set of strategies support
                authentication using a username and password, Facebook, Twitter, and more.</p>
        </div>
        <div class="col-md-6">
            <h4>Express Js</h4>
            <p>Unopinonated framework for Node.js. Express provides a robust set of features for web and mobile
                applications.</p>
        </div>
        <div class="col-md-6">
            <h4>Bootstrap Framework</h4>
            <p>Most popular HTML, CSS, JS framework for developing responsive mobile first projects on the web.</p>
        </div>
    </div>
</div>
<%- include("./partials/footer")%>